<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>sharity - Donate now</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href='https://css.gg/css' rel='stylesheet'>
</head>

<body>
    <%- include('components/navbar.ejs') %>
    <%
        let org = orgs.find(org => org.id == id);
    %>

    <div class="org-single">
        <div class="org-page">
            <div class="org-page-image" style="background-image: url('<%= org.image %>');"></div>
            <div class="org-page-info">
                <h1><%= org.name %></h1>
                <p><%= org.mission %></p>

                <a class="btn-donate">Fazer doação</a>
            </div>
        </div>
        <div class="org-info">
            <h1>Descrição: </h1>
            <p><%- org.desc.replace('<br />', '<br /><br />') %></p>
        </div>
    </div>
</body>

</html>